@import "bootstrap-sprockets";
@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");


$primary-color-dark: #213246;
$primary-color: #50A4E2;
$main-background: #F5F6F8;

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  border-radius: 50%;
}
// Login/signup section

.login-cover {
  margin-top: 2%;
  i {
    color: $primary-color;
  }
  h3 {
    font-weight: bolder;
  }
}

.login-form {
  padding-top: 1rem;
}

.username-label,
.Fullname-label {
  background-color: #F5F8FA;
  width: 40%;
  padding-right: 35%;
  margin-bottom: 0;
  color: #7C7786;
}

.username-input,
.Fullname-input {
  width: 40%;
  border: none;
  border-bottom: 1px solid $primary-color;
  background-color: #E8F0FE;
  height: 5rem;
  margin-bottom: 1.5rem;
}

.login-btn,
.signup-btn {
  width: 40%;
  border-radius: 0.5rem;
  background-color: $primary-color;
  padding: 1.5rem;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

// main content
.main-content {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 0;
}

.side-nav {
  background-color: $primary-color-dark;

  .current-user {
    display: flex;
    padding: 1rem 0 2rem 1.5rem;
  }

  .current-user img {
   margin: 1rem 0 1rem 2rem;
  }

  .current-user h6 {
   padding: 1.5rem 0 0 1rem;
   color: #667B90;
  }

  .follow {
    display: flex;
    border: 2px solid #16272F;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .stats-1 {
    padding-right: 4rem;
    border-right: 2px solid #16272F;
    height: 45px;
  }

  .stats-2 {
    padding-left: 4rem;
  }

  .stat-name {
    color: #667B90;
  }

  .stat-no {
    padding-left: 2.5rem;
    margin-bottom: -0.4rem;
    color:white;
  }

  .side-links {
    padding: 1rem 0 0;
    width: 100%;
  }

  .links {
    padding: 1rem 0 1rem 2.5rem;
    color: #667B90;
  }

  .links i {
    padding-right: 1rem;
  }

  .active,
  .links:hover {
    color: white;
    background-color: $primary-color;
  }
  
  .links-path:hover {
    color: white;
    background-color: $primary-color;
  }
}

main {
  background-color: $main-background;
}

#logo {
  color: white;
  padding: 1.5rem 0 1.5rem 1.5rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  height: 5rem;

  ul {
    display: flex;
    padding-right: 3rem;
  }
  li {
    padding: 1.5rem;
  }
  i {
    color: #63758B;
  }
}

.main-body {
  padding-left: 1rem;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-gap: 0;
  .tweets-heading {
    padding: 1rem 0 1.5rem 0;
    border-bottom: 2px solid #E7EBEE;
  }
  .tweet-form {
    background-color: white;
    border-radius: 0.5rem;
    width: 98%;
    padding: 1rem;
  }

  .text-input {
    width: 100%;
    padding-left: 0.5rem;
  }

  .text-btn {
    padding: 1rem;
    color: white;
    background-color: $primary-color;
  }

  .tweet-body {
    margin: 2rem 0;
    background-color: white;
    border-radius: 0.5rem;
    width: 98%;
    padding: 1rem;
  }

  .tweet-body-header {
    border-bottom: 2px solid #E7EBEE;
    padding: 1rem 0 1.5rem 0;
  }

  .tweet-avatar {
    float: left;
    margin:0 1rem 2rem 0;
  }

  .tweet-content span {
    font-size: 1.2rem;
  }

   .tweet-content h4 {
    font-size: 2rem;
    margin-bottom: -0.2rem;
  }

 .clear {
   clear: both;
 }
}

aside {
  border-left: 2px solid #E7EBEE;
  padding-left: 2rem;

  .follow-header {
    padding: 1rem 0 0.5rem 0;
    border-bottom: 2px solid #E7EBEE;
    margin-bottom: 1rem;
  }

   .who-follow-profile {
    display: flex;
    margin-bottom: 1rem;
  }

  .who-follow-profile h6 {
    padding-left: 1rem;
  }
}